/* Animation keyframes */
@keyframes blink-warning {
    70% { color: white; }
    to { color: orange; }
}

@keyframes blink-critical {
    0% { color: rgb(240, 120, 120); }
    50% { color: white; }
    100% { color: rgb(255, 88, 88); }
}


@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.2; }
    100% { opacity: 1; }
}

/* Reset all styles */
* {
    border: none;
    border-radius: 9;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background-color: transparent;
    color: white;
    font-family: Cantarell, Noto Sans, sans-serif;
    font-size: 13px;
}

#pulseaudio,
#memory,
#cpu,
#battery,
#custom-multi_temp,
#bluetooth,
#network,
#power-profiles-daemon {
    margin-left: 5px;
    margin-right: 5px;
}

/* Battery module */
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-size: 15px;
    color: #ddfcd1;
    font-family: "JetBrains Mono", monospace;
}
#battery.warning {
    font-size: 16px;
    font-family: "JetBrains Mono", monospace;
    color: rgb(255, 220, 154);
}
#battery.critical {
    font-size: 16px;
    font-family: "JetBrains Mono", monospace;
    color: rgb(255, 128, 128);
}
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 5s;
}
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Bluetooth */
#bluetooth {
    margin-left: 4px;
    font-size: 19px;
    font-family: "JetBrains Mono", "Fira Code", monospace;
}

/* Network */
#network {
    margin-left: 4px;
    margin-right: 8px;
    font-size: 16px;
    font-family: "JetBrains Mono", "Fira Code", monospace;
}
#network.disconnected {
    color: orange;
    padding: 4px;
    margin-right: 3px;
}

/* Clock */
#clock {
    font-weight: bold;
    font-family: "JetBrains Mono", "Fira Code", monospace;
    border-radius: 8px;
    padding: 4px;
}

/* CPU */
#cpu {
    font-size: 14px;
    margin-left: 4px;
}
#cpu.warning {
    font-size: 14px;
    margin-left: 4px;
    color: orange;
}
#cpu.critical {
    font-size: 14px;
    margin-left: 4px;
    color: red;
}

/* Memory */
#memory {
    font-size: 13px;
    margin-left: 4px;
}
#memory.warning {
    font-size: 13px;
    margin-left: 4px;
    color: orange;
}
#memory.critical {
    font-size: 13px;
    margin-left: 4px;
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Temperature */
#custom-multi_temp {
    font-size: 13px;
    margin-left: 5px;
}
#custom-multi_temp.critical {
    font-size: 13px;
    color: red;
}

/* Pulseaudio */
#pulseaudio {
    font-size: 14px;
    font-family: "JetBrains Mono", "Fira Code", monospace;
}
#pulseaudio.muted {
    font-size: 14px;
    font-family: "JetBrains Mono", "Fira Code", monospace;
    opacity: 0.5;
}

/* Window and Mode */
#window {
    font-weight: bold;
}
#mode {
    background: #64727D;
    border-top: 2px solid white;
    padding-bottom: 2px;
}

/* Workspaces styling */
#workspaces {
    background-color: rgba(46,52,64,0.5);
    border-radius: 8px;
    padding: 2px;
    margin: 5px 5px;
    margin-left: 15px;
}
#workspaces button {
    background-color: transparent;
    color: #d8dee9;
    border: none;
    border-radius: 8px;
    padding: 0px 5px;
    min-width: 0px;
    min-height: 0px;
}
#workspaces button.active {
    color: #fff;
}
#workspaces button.urgent {
    animation: blink-critical 2s infinite;
}
#workspaces button:not(.empty):not(.active) {
    color: #ddfcd1; /* green for occupied */
}


/* Recorder status */
#recorder_status {
    font-size: 16px;
    padding: 0 2px;
}
#recorder_status.recording {
    animation: blink 2s infinite;
    color: red;
}
#recorder_status.not-recording {
    color: white;
}

/* Modules (container styles) */
.modules-right {
    background-color: rgba(46,52,64,0.3);
    border-radius: 8px;
    padding: 1px;
    margin-right: 15px;
    margin-top: 4px;
}
.modules-center {
    background-color: rgba(46,52,64,0.3);
    border-radius: 8px;
    margin-top: 4px;
}
.modules-right label, .modules-center label {
    font-family: "JetBrains Mono", "Fira Code", monospace;
    font-size: 1em;
    font-weight: bold;
    background: none;
    box-shadow: none;
    margin: 0;
}
